.display {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(245,245,245);
    padding: 15px;
    width: 375px;
    text-align: center;
    font-size: 20px;
    border: solid 1px;
    border-color:rgb(128,128,128);
    border-radius:8px;
}

#r0 {
    width: 375px;
    text-align: left;
    padding: 10px;
    background-color: white;
    color: rgb(128,128,128);
    border-radius: 2px;

}

#r1-1, #r1-2, #r1-3, #r1-4, #r2-4, #r3-4, #r4-4 {
    background-color: #161616;
    color: white;
    border-top-width: 2px;
    border-left-width: 2px;
}

#r5-4 {
    background-color: #73C2FB;
    border-bottom-color:#161616 ;
    border-right-color: #161616;
    border-width: 2px;
}

#r2-1, #r2-2, #r2-3, #r3-1, #r3-2, #r3-3, #r4-1, #r4-2, #r4-3, #r5-1, #r5-2, #r5-3 {
    border-radius: 2px;
}

button {
    width: 90px;
    height: 45px;
    margin-top: 4px;
    color: black;
    font-size: 20px;
    border: solid 1px;
    border-color: rgb(128,128,128);
}
